.loHeader{
    width:990px;
    height:65px;
    margin:0 auto;
    border-bottom: 2px solid #dc5751;
}
.head-logo{
    width:138px;
    height:100%;
    float:left;
}
.head-right{
    float:right;
    padding:35px 10px 0 0
}
.head-right a{
    color:#666;
}
.help{
    margin-left:30px;
}

.login-contetn{
    width:990px;
    margin:0 auto;
    overflow:hidden;
}
.cenLeft{
    float:left;
    width:490px;
    height:588px;
}
.cenRight{
   /* overflow:hidden;*/
    float:left;
    margin-top:20px;
    position:relative;
}
.cenRight p{
    color:#676767;
    font-size:14px;
    margin:8px 0 5px 5px;
}
#err{
    font-size: 16px;
    color:#d70057;
    line-height: 26px;
}
.nlogin1{
    width:295px;
    height:34px;
    padding-left:10px;
    padding-top:12px;
    background:url(../images/login_all.png) no-repeat 0 -16px;
}
.nlogin1 input{
    outline: none;
    border:0;
    width:280px;
    height:20px;
    font-size:14px;
    background:#fff;
    margin-top:1px;
    line-height:20px;
}
.possLow{
    width:18px;
    height:8px;
    display:block;
    margin-left:260px;
    background:url(../images/login_all.png) no-repeat 0 0
}
.miss{
    margin-left:250px;
    color:#999;
    font-size:12px;
    line-height:20px;
    text-decoration:underline;
}
.logn-2{
    outline: none;
    float:left;
    width:138px;
    height:50px;
    cursor:pointer;
    margin:20px 0 20px 0;
    background:url(../images/login_all.png) no-repeat 0 -453px;
}
.noa{
    display:block;
    float:left;
    font-size:11px;
    background:#ecf7ef;
    color:#368427;
    padding:5px;
    margin-top:33px;
    margin-left:5px;
}
.hen{
    width:306px;
    height:2px;
    background:#dbdbdb;
    overflow:hidden;
}
.ddd{
    line-height: 24px;
    font-size:14px;
    color:#999;
}
.login4{
    width:300px;
}
.login4 li{
     float:left;
    margin-right:10px;
    margin-bottom: 10px;
}
.last{
    text-align: center;
    font-size:12px;
    background:#f2f2f2;
    line-height:28px;
    color:#999;
    width:790px;
    height:28px;
    margin:0 auto;
}